In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

## Data Collection

### Files sources

In [3]:
import requests

train_datas_url = 'https://www.raphaelcousin.com/modules/module4/exercise/module4_exercise_train.zip'
test_data_url = 'https://www.raphaelcousin.com/modules/module4/exercise/Neighborhood_Market_data.csv'

# Function to download a file
def download_file(url, file_name):
    response = requests.get(url)
    response.raise_for_status()  # Ensure we notice bad responses
    with open(file_name, 'wb') as file:
        file.write(response.content)
    print(f'Downloaded {file_name} from {url}')

# Downloading the files
download_file(train_datas_url, 'module4_exercise_train.zip')
download_file(test_data_url, 'Neighborhood_Market_data.csv')

Downloaded module4_exercise_train.zip from https://www.raphaelcousin.com/modules/module4/exercise/module4_exercise_train.zip
Downloaded Neighborhood_Market_data.csv from https://www.raphaelcousin.com/modules/module4/exercise/Neighborhood_Market_data.csv

#### CityMart

In [5]:
CityMart=  pd.read_csv("CityMart_data.csv", sep=",", index_col='item_code')
CityMart

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified
item_code,,,,,,,,,,
P0019,CityMart,2.81,26.83,38.75,24.89,323,25877.199625,253,202,2023-01-19
P0024,CityMart,3.30,59.23,34.99,21.78,321,45138.128706,21,225,2023-01-24
P0025,CityMart,2.34,22.60,16.90,60.12,291,22962.232800,316,278,2023-01-25
P0034,CityMart,6.54,18.59,68.72,21.99,126,28092.330552,612,233,2023-02-03
P0039,CityMart,9.94,57.89,88.33,35.45,312,181270.870165,968,203,2023-02-08
...,...,...,...,...,...,...,...,...,...,...
P1984,CityMart,8.24,99.78,68.06,11.87,117,80609.488116,333,263,2028-06-06
P1989,CityMart,5.79,71.19,92.39,63.98,250,420812.077518,417,238,2028-06-11
P1992,CityMart,8.64,97.57,8.58,83.35,348,69776.502510,489,219,2028-06-14
P1996,CityMart,9.90,66.40,75.90,9.88,101,49792.828800,501,232,2028-06-18
P1998,CityMart,3.78,17.19,21.02,37.04,82,13383.803952,800,192,2028-06-20

#### Greenfield_Grocers

In [7]:
Greenfield_Grocers=  pd.read_csv("Greenfield_Grocers_data.csv", sep="|")

Greenfield_Grocers = Greenfield_Grocers.drop([0, 1])
Greenfield_Grocers.columns = Greenfield_Grocers.iloc[0]
Greenfield_Grocers = Greenfield_Grocers.drop([2])
Greenfield_Grocers.columns = Greenfield_Grocers.columns.str.lower()   
if 2 in Greenfield_Grocers.columns:
    Greenfield_Grocers = Greenfield_Grocers.drop(columns=[2])
    
Greenfield_Grocers.set_index('item_code', inplace=True)

   
if 2 in Greenfield_Grocers.columns:
    Greenfield_Grocers = Greenfield_Grocers.drop(columns=[2])


 
 
Greenfield_Grocers

2,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified,NaN,NaN
item_code,,,,,,,,,,,,
P0006,Greenfield_Grocers,5.02,86.68,71.64,16.42,66,101964.18038400002,450,130,2023-01-06,NaN,NaN
P0014,Greenfield_Grocers,9.91,21.67,54.91,84.8,99,100903.49455999999,827,118,2023-01-14,NaN,NaN
P0016,Greenfield_Grocers,1.13,60.03,97.39,90.0,348,526168.953,981,136,2023-01-16,NaN,NaN
P0021,Greenfield_Grocers,0.95,40.36,67.91,99.76,301,273426.95657599997,289,155,2023-01-21,NaN,NaN
P0028,Greenfield_Grocers,5.24,22.37,61.78,68.67,15,94903.217262,423,177,2023-01-28,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
P1983,Greenfield_Grocers,3.13,37.39,74.87,84.11,168,235456.63402300002,31,154,2028-06-05,NaN,NaN
P1985,Greenfield_Grocers,0.66,30.04,15.77,70.62,5,33454.869096,76,73,2028-06-07,NaN,NaN
P1988,Greenfield_Grocers,7.28,7.34,89.94,37.33,92,24643.757867999997,770,162,2028-06-10,NaN,NaN
P1990,Greenfield_Grocers,6.71,73.91,10.24,89.64,9,67842.994176,968,115,2028-06-12,NaN,NaN
P1995,Greenfield_Grocers,8.42,83.07,19.07,10.84,248,17172.130716,296,98,2028-06-17,NaN,NaN

#### Outlet_data

In [9]:
Outlet_data= pd.read_excel("SuperSaver_Outlet_data.xlsx", index_col='item_code')
Outlet_data

           quantity_sold
item_code
P0003                198
P0007                211
P0008                200
P0009                209
P0012                186
...                  ...
P1976                236
P1980                192
P1986                193
P1993                185
P2000                250

[379 rows x 1 columns]

#### HighStreet_Bazaar

In [11]:
HighStreet_Bazaar= pd.read_json("HighStreet_Bazaar_data.json")
HighStreet_Bazaar.set_index('item_code', inplace=True)
HighStreet_Bazaar

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified
item_code,,,,,,,,,,
P0001,HighStreet_Bazaar,6.11,75.46,91.62,92.08,78.0,636608.450016,237,346,1672531200000
P0011,HighStreet_Bazaar,4.34,16.97,93.21,54.58,344.0,86333.208546,184,218,1673395200000
P0015,HighStreet_Bazaar,1.37,58.93,11.28,73.87,344.0,49103.634648,946,315,1673740800000
P0017,HighStreet_Bazaar,7.27,51.51,39.21,16.17,138.0,32658.663807,268,228,1673913600000
P0020,HighStreet_Bazaar,0.89,57.50,69.84,6.12,333.0,24576.696000,396,228,1674172800000
...,...,...,...,...,...,...,...,...,...,...
P1978,HighStreet_Bazaar,6.28,72.48,47.71,83.54,322.0,288883.057632,637,235,1843344000000
P1981,HighStreet_Bazaar,0.91,31.13,55.22,71.22,342.0,122427.080292,60,241,1843603200000
P1982,HighStreet_Bazaar,4.65,65.72,82.01,60.75,192.0,327424.104900,925,237,1843689600000
P1987,HighStreet_Bazaar,4.64,93.41,52.53,41.02,131.0,201278.055846,317,256,1844121600000
P1994,HighStreet_Bazaar,5.43,11.20,56.52,14.73,128.0,9324.443520,315,287,1844726400000

#### Aggregate

In [13]:
import pandas as pd

# Assurez-vous que chaque DataFrame est indexÃ© par 'item_code'
dataframes = [ HighStreet_Bazaar, Outlet_data, Greenfield_Grocers, CityMart]


# Fusionner les DataFrames en utilisant pd.concat pour Ã©viter de dupliquer les colonnes
data = pd.concat(dataframes, axis=1)

# RÃ©soudre les colonnes en doublon en les combinant
data = data.groupby(data.columns, axis=1).first()

# Afficher le DataFrame fusionnÃ©

data

C:\Users\djake\AppData\Local\Temp\ipykernel_5208\3721053266.py:11: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  data = data.groupby(data.columns, axis=1).first()

,days_since_last_purchase,dimension_height,dimension_length,dimension_width,last_modified,mass,package_volume,quantity_sold,stock_age,store_name
item_code,,,,,,,,,,
P0001,78.0,92.08,75.46,91.62,1672531200000.0,6.11,636608.450016,346.0,237.0,HighStreet_Bazaar
P0011,344.0,54.58,16.97,93.21,1673395200000.0,4.34,86333.208546,218.0,184.0,HighStreet_Bazaar
P0015,344.0,73.87,58.93,11.28,1673740800000.0,1.37,49103.634648,315.0,946.0,HighStreet_Bazaar
P0017,138.0,16.17,51.51,39.21,1673913600000.0,7.27,32658.663807,228.0,268.0,HighStreet_Bazaar
P0020,333.0,6.12,57.5,69.84,1674172800000.0,0.89,24576.696,228.0,396.0,HighStreet_Bazaar
...,...,...,...,...,...,...,...,...,...,...
P1984,117.0,11.87,99.78,68.06,2028-06-06,8.24,80609.488116,263.0,333.0,CityMart
P1989,250.0,63.98,71.19,92.39,2028-06-11,5.79,420812.077518,238.0,417.0,CityMart
P1992,348.0,83.35,97.57,8.58,2028-06-14,8.64,69776.50251,219.0,489.0,CityMart
P1996,101.0,9.88,66.4,75.9,2028-06-18,9.9,49792.8288,232.0,501.0,CityMart
P1998,82.0,37.04,17.19,21.02,2028-06-20,3.78,13383.803952,192.0,800.0,CityMart

#### Simple baseline

In [47]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import SimpleImputer, IterativeImputer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import KFold
from sklearn.metrics import mean_absolute_error, accuracy_score, mean_squared_error
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor

import numpy as np
import pandas as pd

def get_simple_baseline(data, fillna_value=-1, drop_cols=None, k_fold=5, scaler='standard', model='linear', metric='mae', target_col=None, X_data_test=None):
    data = data.copy()
    
    # Handle missing values
    data.fillna(fillna_value, inplace=True)
    if X_data_test is not None:
        X_data_test = X_data_test.copy()
        X_data_test.fillna(fillna_value, inplace=True)
    
    # Drop unwanted columns
    if drop_cols:
        data.drop(columns=[col for col in drop_cols if col in data], inplace=True)
        if X_data_test is not None:
            X_data_test.drop(columns=[col for col in drop_cols if col in X_data_test], inplace=True)

    # Split data into features (X) and target (y)
    y = data[target_col]
    X = data.drop(columns=[target_col])

    # Ensure the feature names are consistent for training and testing
    feature_names = X.columns

    # Align columns of X_data_test with X to avoid feature mismatch
    if X_data_test is not None:
        X_data_test = X_data_test.reindex(columns=feature_names, fill_value=fillna_value)

    # Feature scaling
    if scaler == 'standard':
        scaler = StandardScaler()
    elif scaler == 'minmax':
        scaler = MinMaxScaler()
    elif scaler == 'robust':
        scaler = RobustScaler()
    else:
        scaler = None
    
    if scaler:
        X = scaler.fit_transform(X)
        if X_data_test is not None:
            X_data_test = scaler.transform(X_data_test)

    # Convert X and X_data_test back to DataFrames with the correct column names
    X = pd.DataFrame(X, columns=feature_names, index=data.index)
    if X_data_test is not None:
        X_data_test = pd.DataFrame(X_data_test, columns=feature_names, index=X_data_test.index if hasattr(X_data_test, 'index') else None)

    # Initialize the model
    if model == 'linear':
        model = LinearRegression()
    elif model == 'logistic':
        model = LogisticRegression(max_iter=1000)
    elif model == 'random_forest':
        model = RandomForestRegressor(n_estimators=200, max_depth=10, random_state=42)
    elif model == 'gradient_boosting':
        model = GradientBoostingRegressor(n_estimators=200, learning_rate=0.1, max_depth=4, random_state=42)
    else:
        raise ValueError("Unsupported model type")

    # Initialize cross-validation
    kf = KFold(n_splits=k_fold, shuffle=True, random_state=42)
    scores = []

    # Train and evaluate using k-fold cross-validation
    for train_index, test_index in kf.split(X):
        X_train, X_test = X.iloc[train_index], X.iloc[test_index]
        y_train, y_test = y.iloc[train_index], y.iloc[test_index]
        
        # Train the model
        model.fit(X_train, y_train)
        
        # Make predictions
        y_pred = model.predict(X_test)
        
        # Evaluate using the specified metric
        if metric == 'mae':
            score = mean_absolute_error(y_test, y_pred)
        elif metric == 'mse':
            score = mean_squared_error(y_test, y_pred)
        elif metric == 'accuracy':
            score = accuracy_score(y_test, np.round(y_pred))
        else:
            raise ValueError("Unsupported metric")

        scores.append(score)

    # EntraÃ®ner le modÃ¨le sur l'ensemble des donnÃ©es pour prÃ©dire sur le jeu de test
    if X_data_test is not None:
        model.fit(X, y)
        return np.mean(scores), model.predict(X_data_test)
    else:
        return np.mean(scores)

In [49]:
score = get_simple_baseline(
        data=data,
        drop_cols=['store_name', 'last_modified'],
        k_fold=5,
        scaler='standard',
        model='gradient_boosting',
        metric='mae',
        target_col='quantity_sold' )

print(f"Cross-Validation Score (MAE): {score}")

Cross-Validation Score (MAE): 42.362526998875

### API sources

In [19]:
import requests
import pandas as pd

def get_api(endpoint_url):
    try:
        # Make the GET request to the API
        response = requests.get(endpoint_url)
        
        if response.status_code == 200:
            data = response.json()
            print(data.get("message", "No message in response"))
            return data.get('data')
        else:
            print(f"Failed to retrieve data. Status code: {response.status_code}")
            return None
    
    except Exception as e:
        print(f"An error occurred: {e}")
        return None

# Retrieve the password from the first endpoint
password = get_api("https://www.raphaelcousin.com/api/exercise/auth")

if password and 'password' in password:
    key = password['password']
    print(f"Retrieved key: {key}")

    # Retrieve prices from the second endpoint
    prices = get_api(f"https://www.raphaelcousin.com/api/exercise/{key}/prices")

    if prices:
        # Convert the dictionary to a DataFrame
        df_prices = pd.DataFrame.from_dict(prices, orient='index', columns=['unit_cost'])
        print(df_prices)
    else:
        print("Failed to retrieve prices data.")
else:
    print("Failed to retrieve password data.")

Authentication successful
Retrieved key: RcUZjhdsYLRzwi4
Volume data retrieved successfully
       unit_cost
P0001      22.14
P0002      26.91
P0003      16.90
P0004       7.04
P0005      20.84
...          ...
P1996      25.80
P1997      26.05
P1998      17.41
P1999       7.57
P2000      14.42

[2000 rows x 1 columns]

#### Aggregate

In [57]:
data = pd.merge(data, df_prices, left_index=True, right_index=True, how='left')

data

,days_since_last_purchase,dimension_height,dimension_length,dimension_width,last_modified,mass,package_volume,quantity_sold,stock_age,store_name,unit_cost_x,Customer Score,Total Reviews,Updated Timestamp,unit_cost_y
item_code,,,,,,,,,,,,,,,
P0001,78.0,92.08,75.46,91.62,1672531200000.0,6.11,636608.450016,346.0,237.0,HighStreet_Bazaar,22.14,2,972,1728571,22.14
P0011,344.0,54.58,16.97,93.21,1673395200000.0,4.34,86333.208546,218.0,184.0,HighStreet_Bazaar,16.85,2,602,1728577,16.85
P0015,344.0,73.87,58.93,11.28,1673740800000.0,1.37,49103.634648,315.0,946.0,HighStreet_Bazaar,16.73,5,894,1728501,16.73
P0017,138.0,16.17,51.51,39.21,1673913600000.0,7.27,32658.663807,228.0,268.0,HighStreet_Bazaar,17.03,2,527,1728528,17.03
P0020,333.0,6.12,57.5,69.84,1674172800000.0,0.89,24576.696,228.0,396.0,HighStreet_Bazaar,18.05,5,395,1728504,18.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
P1984,117.0,11.87,99.78,68.06,2028-06-06,8.24,80609.488116,263.0,333.0,CityMart,14.93,2,953,1728485,14.93
P1989,250.0,63.98,71.19,92.39,2028-06-11,5.79,420812.077518,238.0,417.0,CityMart,8.51,4,72,1728504,8.51
P1992,348.0,83.35,97.57,8.58,2028-06-14,8.64,69776.50251,219.0,489.0,CityMart,18.80,4,561,1728522,18.80
P1996,101.0,9.88,66.4,75.9,2028-06-18,9.9,49792.8288,232.0,501.0,CityMart,25.80,5,512,1728520,25.80
P1998,82.0,37.04,17.19,21.02,2028-06-20,3.78,13383.803952,192.0,800.0,CityMart,17.41,2,440,1728483,17.41

In [ ]:
get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler='standard', model='random_forest', metric='mae', target_col='quantity_sold')

41.95895401525026

### Scrapping sources

In [25]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import time

# Set up the Selenium WebDriver (e.g., Chrome)
driver = webdriver.Chrome()  # Make sure ChromeDriver is installed

# Open the URL
url = 'https://www.raphaelcousin.com/module4/scrapable-data'
driver.get(url)

# Wait for the page to fully load (increase time if needed)
time.sleep(5)

# Get the fully rendered page source
html = driver.page_source

# Parse the HTML with BeautifulSoup
soup = BeautifulSoup(html, 'html.parser')

# Initialize lists to store scraped data
exercise_data = []

# Find both tables
tables = soup.find_all('table')

# Close the Selenium WebDriver
driver.quit()

# Ensure there are enough tables before scraping
if len(tables) > 1:
    # Scrape the second table (Exercise Data)
    course_table = tables[1]
    headers = [header.text.strip() for header in course_table.find('thead').find_all('th')]  # Extract headers
    for row in course_table.find('tbody').find_all('tr'):
        cols = row.find_all('td')
        exercise_data.append([col.text.strip() for col in cols])  # Extract each row's data

    # Convert the list to a pandas DataFrame
    df_exercise = pd.DataFrame(exercise_data, columns=headers)
    
    # Rename 'Item Code' column to 'item_code'
    df_exercise.rename(columns={'Item Code': 'item_code'}, inplace=True)
    
    # Set 'item_code' as the index of the DataFrame
    df_exercise.set_index('item_code', inplace=True)

    # Afficher le DataFrame
    print(df_exercise)
else:
    print("La deuxiÃ¨me table n'a pas Ã©tÃ© trouvÃ©e.")

          Customer Score Total Reviews Updated Timestamp
item_code
P0001                  2           972           1728571
P0002                  3           260           1728519
P0003                  2           285           1728523
P0004                  5           512           1728518
P0005                  3            85           1728566
...                  ...           ...               ...
P1996                  5           512           1728520
P1997                  2           989           1728501
P1998                  2           440           1728483
P1999                  4            37           1728554
P2000                  4           701           1728539

[2000 rows x 3 columns]

#### Aggregate

In [26]:
data = pd.merge(data, df_exercise, left_index=True, right_index=True, how='left')
data

,days_since_last_purchase,dimension_height,dimension_length,dimension_width,last_modified,mass,package_volume,quantity_sold,stock_age,store_name,unit_cost,Customer Score,Total Reviews,Updated Timestamp
item_code,,,,,,,,,,,,,,
P0001,78.0,92.08,75.46,91.62,1672531200000.0,6.11,636608.450016,346.0,237.0,HighStreet_Bazaar,22.14,2,972,1728571
P0011,344.0,54.58,16.97,93.21,1673395200000.0,4.34,86333.208546,218.0,184.0,HighStreet_Bazaar,16.85,2,602,1728577
P0015,344.0,73.87,58.93,11.28,1673740800000.0,1.37,49103.634648,315.0,946.0,HighStreet_Bazaar,16.73,5,894,1728501
P0017,138.0,16.17,51.51,39.21,1673913600000.0,7.27,32658.663807,228.0,268.0,HighStreet_Bazaar,17.03,2,527,1728528
P0020,333.0,6.12,57.5,69.84,1674172800000.0,0.89,24576.696,228.0,396.0,HighStreet_Bazaar,18.05,5,395,1728504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
P1984,117.0,11.87,99.78,68.06,2028-06-06,8.24,80609.488116,263.0,333.0,CityMart,14.93,2,953,1728485
P1989,250.0,63.98,71.19,92.39,2028-06-11,5.79,420812.077518,238.0,417.0,CityMart,8.51,4,72,1728504
P1992,348.0,83.35,97.57,8.58,2028-06-14,8.64,69776.50251,219.0,489.0,CityMart,18.80,4,561,1728522
P1996,101.0,9.88,66.4,75.9,2028-06-18,9.9,49792.8288,232.0,501.0,CityMart,25.80,5,512,1728520
P1998,82.0,37.04,17.19,21.02,2028-06-20,3.78,13383.803952,192.0,800.0,CityMart,17.41,2,440,1728483

In [29]:
get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler='standard', model='random_forest', metric='mae', target_col='quantity_sold')

41.92693874206971

### Generating Submission File

In [ ]:
# X_test =  read  Neighborhood_Market_data

# read
df_StoreN =  pd.read_csv("Neighborhood_Market_data.csv", sep=",", index_col='item_code')
df_StoreN = pd.merge(df_StoreN, df_exercise, left_index=True, right_index=True, how='left')
df_StoreN = pd.merge(df_StoreN , df_prices, left_index=True, right_index=True, how='left')

df_StoreN

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,last_modified,Customer Score,Total Reviews,Updated Timestamp,unit_cost
item_code,,,,,,,,,,,,,
P0002,Neighborhood_Market,5.51,51.79,46.72,72.02,344,174261.666176,287,2023-01-02,3,260,1728519,26.91
P0004,Neighborhood_Market,3.97,84.63,39.42,42.46,189,141651.425916,387,2023-01-04,5,512,1728518,7.04
P0005,Neighborhood_Market,5.99,39.33,83.51,5.12,183,16816.375296,382,2023-01-05,3,85,1728566,20.84
P0010,Neighborhood_Market,4.10,77.43,49.56,74.41,208,285543.225828,656,2023-01-10,2,709,1728547,10.00
P0013,Neighborhood_Market,6.96,95.39,34.61,23.24,114,76725.649196,755,2023-01-13,3,984,1728483,12.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...
P1972,Neighborhood_Market,5.68,17.89,71.87,95.67,296,123008.113881,411,2028-05-25,2,854,1728540,15.88
P1977,Neighborhood_Market,1.53,84.32,64.91,66.30,171,362873.902560,702,2028-05-30,1,991,1728488,16.21
P1991,Neighborhood_Market,7.79,84.46,82.96,52.14,50,365334.635424,190,2028-06-13,1,572,1728511,15.32
P1997,Neighborhood_Market,8.91,66.50,5.79,41.11,336,15828.788850,177,2028-06-19,2,989,1728501,26.05
P1999,Neighborhood_Market,2.03,66.77,60.18,73.20,190,294133.601520,806,2028-06-21,4,37,1728554,7.57

In [51]:
score, x_pred= get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler='standard', model='linear', metric='mae', target_col='quantity_sold', X_data_test = df_StoreN)
print(score)

40.96193940760018

In [55]:
submission = pd.DataFrame({
    'item_code': df_StoreN.index,
    'quantity_sold': x_pred  
})

submission.to_csv('submission.csv', index=False, sep=',')
submission

    item_code  quantity_sold
0       P0002     161.544887
1       P0004     241.360307
2       P0005     162.982560
3       P0010     226.393129
4       P0013     233.492097
..        ...            ...
404     P1972     202.245739
405     P1977     217.901154
406     P1991     218.434212
407     P1997     188.199355
408     P1999     213.037740

[409 rows x 2 columns]